.container{
  max-width: 900px;
  margin:auto;
}
/* Valor por columna = 8.3333333333 */
.row{
  display: flex;
}
.col-1{
  width: 8.3333333333%;
}
.col-2{
  width: 16.6666666666%;
}
.col-3{
  width: 24.9999999999%;
}
.col-4{
  width: 33.3333333332%;
}
.col-5{
  width: 41.6666666665%;
}
.col-6{
  width: 49.9999999998%;
}
.col-7{
  width: 58.3333333331%;
}
.col-8{
  width: 66.6666666664%;
}
.col-9{
  width: 74.9999999997%;
}
.col-10{
  width: 83.333333333%;
}
.col-11{
  width: 91.6666666663%;
}
.col-12{
  width: 100%;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
  padding: 10px;
}
/* Aqui mantiene la fugiara dentro de la pantalla al momenotio de ser movida sin salir de la ventana del navegar */
.col-1 img,.col-2 img,.col-3 img,.col-4 img,.col-5 img,.col-6 img,.col-7 img,.col-8 img,.col-9 img,.col-10 img,.col-11 img,.col-12 img{
  width: 100%;
}
.no-desk{
  display: none; /*deja el esapcion sin visivilidad par que el siguente espacion tome su lugar  (no se muestra eb Desktop)*/
}
@media (max-width: 600px) {/*Permite que cambie de acomodo la pantalla una vez que es minimizada*/
  .container{
    padding: 30px;
  }
  .no-mobile{
    display: none; /* No se muestra en el mobile */
  }
  .no-desk{
    display: initial; /* Regresa al valor predeterminado en este caso a la casilla por default  */
  }
  .row{
    display: inline; /* Solo brinda el espacion necesario y puede ser desplegado */
    padding: 10px;
  }
  .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{ /* Muestra la imagen en el tamañO requerido por la pestaña*/
    width: 100%;
    padding: 0px;
  }
}
